<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= render partial: 'votes/voter', locals: { post: post} %>
      <%= link_to post.markdown_title, [post.topic, post] %>
      <%= image_tag(post.image.url) if post.image? %>
    </h4>

    <%= render partial: 'posts/post_status', locals: { post: post } %>
    <%= post.comments.count %> Comments
  </div>
</div>

