<h1><%= @post.markdown_title %></h1>
<%= image_tag(@post.image.url) if @post.image? %>

<div class="row">
  <div class="col-md-8">
    <%= render partial: 'posts/post_status', locals: { post: @post } %>

    <p><%= @post.markdown_body %></p>

    <%= render @post.comments %>

    <% if current_user.present? %>
      <%= render 'comments/form' %>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: "btn btn-success" %>
    <% end %>
    <% if policy(@post).destroy? %>
      <%= link_to "Delete", [@topic, @post], class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure you want to delete the post?'}%>
    <% end %>
  </div>
</div>
