<ul class="nav nav-tabs">
  <li><%= link_to "Bloccit", root_path %></li>
  <li><%= link_to "About", about_path %></li>

  <div class="pull-right user-info">
    <% if current_user %>
      <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
      <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</ul>
